<!DOCTYPE html>
<html>

<nav.class="navbar navbar-light " style="background-color: #CCD1D1; ">
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand " href="# ">Fruity Photos</a>
  <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarText " aria-controls="navbarText
 " aria-expanded="false " aria-label="Toggle navigation ">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarText ">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active ">
        <a class="nav-link " href="# ">Home <span class="sr-only ">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="# ">Gallery</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="# ">About Us</a>
      </li>
    </ul>
    <span class="navbar-text ">
    </span>
  </div>
</nav>


<html lang="en ">

  <head>
  <link rel="stylesheet " href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css " integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T
 " crossorigin="anonymous ">
    <title>Fruity Photos</title>
  </head>
  <body>
    <h1 align="center ">FRUITY PHOTOS</h1>
    <h2 align="center ">A place to view photos!</h2>
    <br>
    <br>
    <img src="https://lh3.googleusercontent.com/-sYiDOJli7UIqBWrSrU2Q_ThQpmp_r4LcICm86dy4zJABQivfk_ig16qmS9Ge4_sygb4wm-xGgBhAEFmMBfYDq5ARrLOIBPrGgNVz5H1SfnsiK4bqwxY0szLxEBr7z6Mwd8gOCfO2_Ifr_hGF7lxn-FJg-8RLBdrU6vI26XU3NpV_GATmKKzcdtXbSgHzGPLdwRarpxAjeGWp4K0GyRk25AHXnapGtbASO5ocCCH66iB446JZz9k3QAxb4AxZiu1kxlE_fpbU3OV-5N1LroPouNCYIu962lVkdy83TOD7h8HM9nqPeSGZ-MT6RHwUgXA3QqeiXsafa3Uhe5qDZ42q15tLfqbxszU-Tr8Mg-rIWWlTPKyG-HBoPm-iswJGYxTZ7DxmerRw8ndyjEdLGk3ma0mxHzdwq9C6yrig_p66RuvIwjrQs8sNh0CpWreHDoJFmBUoh5Bv6uN5Qtth70zu2X11konPUyqpReWvD1nHB2HmlS3FtCHXyn0oJFg-DfmdmXIDOHiepPxuO9YCPjZW3svT6bQ_fisoSvwlbNXA0dcioRnK6F8-Vl4QtJDCbRowdfSxs5Y6eQ-L3ZSx-iPjbOEf9oEujfPoCnYpG0wuYml75prXt58BUwPYXn1Gz8zXKnLDTXuwd5xEqYwYdjqEkBVu7EF6tDfjfj8pT6W9DbNfWxKUW8AFIJDfm8Yuw=w1454-h969-no?authuser=0" class="img-fluid " alt="Boat Photo " align="center ">
  </body>

</html>